.key-dates {
  text-align: center;
  padding: 50px 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.section-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 45px;
}

/* Tablet */
@media (max-width: 1024px) {
  .card {
    width: 180px;
    padding: 15px;
  }
  .card img {
    width: 40px;
    height: 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}
