.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slider h2 {
    font-size: 3.3rem;
  }
  .slider em {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
  }
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(254, 254, 255);
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgb(211, 26, 26);
  text-align: center;
}

/* Tablet */
@media (max-width: 1024px) {
  .slider {
    height: 300px;
  }
  .slider h2 {
    font-size: 1.5rem;
  }
  .slide-text em{
    font-size: .5rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .slider {
    height: 200px;
  }
  .slide-text h2{
    font-size: .9rem;
  }

 .slide-text em{
    font-size: .5rem;
  } 
}
